/* Page background */

* {
    background-color: lightgreen;
}

h1 {
    color: aqua;
    text-align: center;
}

p {
    text-align: center;
    color: rgb(red, green, rgb(11, 11, 238))
}

img {
    border: 5px solid blue;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}